<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='request.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='panel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='component.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='frame.js') }}"></script>
    <script type="text/javascript">
        /**
         * Application which calculates the distance of the mouse cursor from the origin.
         */
        class App extends Component
        {
            /**
             * Send a POST request for calculating the cursor distance from the origin.
             */
            onMouseDown(x, y)
            {
                var point = {"x": x, "y": y};
                console.log("Send request ...");
                postJSON("distance", point, this.showDistance);
            }

            /**
             * Callback for showing the distance.
             */
            showDistance(data, status)
            {
                console.log(JSON.stringify(data));
            }
        }

        var app = new App();
    </script>
</head>

<body onload="onLoad()" onresize="onResize()">
    <canvas id="canvas" />
</body>

</html>

